@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root{
  --primary-color: #2B3593;
  --secondary-color: #0CA44C;
  --dark-color: #061539;
  --white: #fff;
  --gray-text: #8E8E8E;
  --heading-font:  'Outfit', sans-serif;
  --font-primay: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif; 
  --font-others: 'Space Grotesk', sans-serif;
  --body-bg: #F5F5F5;
  --gradiant: linear-gradient(359.89deg, rgba(43, 53, 147, 0.57) 0.09%, rgba(43, 53, 147, 0) 98.14%);
  --gradiyent-2: linear-gradient(80.88deg, rgba(43, 53, 147, 0.58) 0%, rgba(12, 164, 76, 0.24) 100%);
  --transition: all .6s cubic-bezier(.165, .84, .44, 1);
  --shadow: 0px 6px 30px rgba(0,0,0,0.08);
}

/* Rest & Helpers */
body{
  font-family: var(--font);
  background: var(--body-bg);
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--dark-color);
}

a{
  text-decoration: none;
  color: var(--secondary-color)!important;
  transition: var(--transition);
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

a:hover{
  color: var(--primary-color);
}

ul{
  list-style: none;
}

p{
  color: var(--dark-color);
}

img{
  width:100%;
}

a.outline-btn {
  position: relative;
  padding: 5px 0px;
  font-weight: 700;
  font-family: var(--font-secondary);
  font-size: 20px;
}

a.outline-btn::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  background: green;
  bottom: 0;
  transition: .5s;
}

a.outline-btn:hover::before {
  width: 100%;
}

.bg-gray{
  background: var(--primary-color);
}

.section-padding{
  padding-top: 60px;
  padding-bottom: 40px;
}

.section-heading{
  padding: 20px 0px;
}
.section-heading h2{
  font-size: 36px;
  color: var(--primary-color);
  position: relative;
  display: inline-flex;
  text-transform: uppercase;
}

.section-heading h2::before{
  content: "";
  position: absolute;
  width: 45%;
  height: 5px;
  background: var(--secondary-color);
  bottom: -5px;
  left: 3px;
}

/* Icon List */


/* Header Top */
.header-top{
  background-color: var(--primary-color);
  padding: 6px 0px
}

.header-top .icon-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-top .icon-list ul li a {
  text-transform: lowercase;
  font-size: 14px;
  color: var(--white)!important;
  position: relative;
  font-weight: 300;
}

.header-top .icon-list ul li {
  margin-right: 35px;
}

.header-top .icon-list ul li a i {
  color: var(--secondary-color)!important;
}

.header-top .icon-list ul li a::after {
  position: absolute;
  content: "\f111 \f111";
  font-family: 'FontAwesome';
  font-size: 6px;
  bottom: 1px;
  right: -13px;
  color: var(--secondary-color);
}

.social-icon a{
  padding: 5px
}

/* Menu */
nav {
  padding: 13px 0px;
}

a.navbar-brand img {
  width: 77%;
}

ul.main-menu li a {
  padding: 0px 15px;
  color: var(--dark-color)!important;
  font-family: var(--font-secondary);
  font-size: 14px;
}

ul.main-menu {
  margin-bottom: 0;
}

/* Slider */
.slide{
  padding: 120px 0px;
}
.slide-content h2 {
  font-size: 68px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-content h2 span {
  background: var(--secondary-color);
  padding: 0px 20px;
  border-radius: 5px;
}

.slide-content p {
  font-size: 22px;
  color: var(--white);
  font-family: var(--font-primay);
  padding: 20px 0px;
}

.slide-content a {
  background: var(--primary-color);
  color: var(--white)!important;
  padding: 12px 20px;
  font-family: 'Montserrat';
}

.slide-content a:hover {
  background: var(--dark-color);
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  box-shadow:0px 0px 10px #474787;
}

button.active span{
  background: var(--secondary-color)!important;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Group Image */
.group-image {
  position: relative;
  height: 540px;
}

.group-image img.parent {
  max-width: 90%;
  min-width: 90%;
  position: absolute;
  object-fit: cover;
  min-height: 440px;
  max-height: 440px;
}

.group-image img.child {
  position: absolute;
  min-width: 60%;
  max-width: 60%;
  min-height: 290px;
  max-height: 290px;
  object-fit: cover;
  top: 165px;
  right: 5px;
  border: 10px solid #fff;
}

/* Company Content */
.company-content h5 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
}

.company-content h2{
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.company-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  font-family: var(--font-primay);
}

.project-counter{
  background: var(--secondary-color);
}

.project-counter i {
  color: var(--white);
  font-size: 48px;
}

.project-counter .counter {
  font-size: 32px;
  color: var(--white);
  font-family: var(--font-others);
  font-weight: bold;
  line-height: 32px;
}

.project-counter span {
  text-transform: uppercase;
  font-family: var(--font-others);
  line-height: 18px;
  color: #fff;
}

/* Work Process */
.process{
  padding: 30px 10px;
  border-right: 1px solid #d5d5d5;
}

.process:last-child{
  border-right: none;
}

.work-process{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.work-process .process:hover{
  background: var(--white);
}

.work-process .process{
  transition: .5s;
}

.work-process .process h3 {
  font-size: 77px;
  font-family: 'Poppins';
  -webkit-text-stroke: 1px #003c71;
  color: transparent;
}

.work-process .process:hover h3{
  color: var(--dark-color);
  -webkit-text-stroke: 1px solid var(--dark-color);
  cursor: pointer;
}

.work-process .process h5 {
  font-size: 18px;
  font-family: 'Outfit';
  text-transform: uppercase;
  font-weight: 700;
}

.work-process .process span {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: var(--gray-text);
}

/* Work Process */

section.workProcess-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0px;
}

section.workProcess-wrapper h2::before {
  width: 100px;
  height: 3px;
  background: var(--secondary-color);
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  bottom: -7px;
}


/* Testimonial Section */
.feedback {
  background: #F1EBEB;
  border-left: 20px solid var(--secondary-color);
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 35px;
  padding-bottom: 30px;
}

.feedback p {
  color: #1F2349;
  font-family: var(--font-primay);
  position: relative;
  padding-bottom: 35px;
}

.author {
  position: relative;
}

.author::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  background: var(--primary-color);
  top: -16px;
}

.author img {
  width: 47px;
  height: 47px;
}

.author-bio {
  margin-left: 12px;
  font-family: var(--font-primay);
  font-weight: 300;
  margin-bottom: 0;
}

.author-bio h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-primay);
  margin-bottom: 0;
}

.author-bio span {
  color: #7C7373;
  font-size: 14px;
  text-transform: uppercase;
}

img.quote {
  position: absolute;
  right: 0;
  width: 120px!important;
  height: 80px!important;
}

.feedback .author img {
  width: 48px;
  height: 48px;
}


/* Footer */
.footer {
  background: var(--dark-color);
  padding-top: 80px;
  padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: var(--white);
  margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: var(--white)!important;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: lowercase;
}
.single_footer ul li a:hover { color: #ff3666; }
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
iframe {
  background: #fff;
  padding: 10px;
}
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color:#fff;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
}
.copyright a{
  color: var(--body-bg)!important;
  transition: all 0.2s ease 0s;
}

/* Custom Animation */
.up-down{
  animation: up-down linear 8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down{
  0% {
    transform:  translate(1px,20px)  ;
  }
  24% {
    transform:  translate(1px,30px)  ;
  }
  50% {
    transform:  translate(1px,12px)  ;
  }
  74% {
    transform:  translate(1px,22px)  ;
  }
  100% {
    transform:  translate(1px,22px)  ;
  }
}

@-moz-keyframes up-down{
  0% {
    -moz-transform:  translate(1px,20px)  ;
  }
  24% {
    -moz-transform:  translate(1px,30px)  ;
  }
  50% {
    -moz-transform:  translate(1px,12px)  ;
  }
  74% {
    -moz-transform:  translate(1px,22px)  ;
  }
  100% {
    -moz-transform:  translate(1px,22px)  ;
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform:  translate(1px,20px)  ;
  }
  24% {
    -webkit-transform:  translate(1px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(1px,12px)  ;
  }
  74% {
    -webkit-transform:  translate(1px,22px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,22px)  ;
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform:  translate(1px,20px)  ;
  }
  24% {
    -o-transform:  translate(1px,30px)  ;
  }
  50% {
    -o-transform:  translate(1px,12px)  ;
  }
  74% {
    -o-transform:  translate(1px,22px)  ;
  }
  100% {
    -o-transform:  translate(1px,22px)  ;
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform:  translate(1px,20px)  ;
  }
  24% {
    -ms-transform:  translate(1px,30px)  ;
  }
  50% {
    -ms-transform:  translate(1px,12px)  ;
  }
  74% {
    -ms-transform:  translate(1px,22px)  ;
  }
  100% {
    -ms-transform:  translate(1px,22px)  ;
  }
}
